<section class="activitiesList">
    <h1 class="headerList">Waar heb je zin in?</h1>
    <form action="/update" method="POST">
    <section class="typeOfDay">
        <div class="inputLabel"><input type="radio" id="morning" name="timeOfDay" value="morning">
    <label for="morning">&#127749;</label></div>

    <div class="inputLabel"><input type="radio" id="midday" name="timeOfDay" value="midday">
    <label for="midday">&#128262;</label></div>

    <div class="inputLabel"><input type="radio" id="evening" name="timeOfDay" value="evening">
    <label for="evening">&#127769;</label></div>
    </section>
    <section class="activitiesListBtns">
        {{#each activity}}
        <button name="activity" class="acitvitySetupBtn" value="{{this}}">{{this}}</button></a>
        {{/each}}
        </section>
        </form>
</section>

{{!-- <form action="/post-name" method="POST">
    <button type="submit" name="name" value="John">Submit</button>
</form> --}}


<section>
    <p>{{weatherResponse}}</p>
    <form class="doneFooter" action="http://localhost:3000/">
        <button class="doneBtn" type="submit">Done</button>
    </form>
</section>