<section class="activitiesList">
    <h1 class="headerList">Waar heb je zin in?</h1>
    <input type="text" placeholder="Search..">

    <div class="activitiesListBtns">
        <button class="acitvitySetupBtn">&#128262; Knutselen</button>
        <button class="acitvitySetupBtn">&#128262; Knutselen</button>
        <button class="acitvitySetupBtn">&#128262; Knutselen</button>
    </div>
</section>

<section>
    <form class="doneFooter" action="http://localhost:3000/">
        <button class="doneBtn" type="submit">Done</button>
    </form>
</section>