{{!-- BACKGROUND--}}
<a href="/activities">
    <section class="parent">
        {{!-- HEADER --}}
        <section class="calenderHeader">
            <section class="calenderMiddle">
                <h2>Februari</h2>
                <h3>20 - 26</h3>
            </section>

            <section class="calenderLeft">
                <img class="leftArrow">
                <p class="dateShift">13-19</p>
            </section>

            <section class="calenderRight">
                <img class="rightArrow">
                <p class="dateShift">27 - 05</p>
            </section>
        </section>

        {{!-- MORNING --}}
        <section class="morningSpace">

            <p class="headerSpace"> &#127749; Morning</p>
            {{!-- <section class="activitiesSpaceMorning"></section>
            <section class="activitiesSpaceMorning"></section>
            <section class="activitiesSpaceMorning"></section>
            <section class="activitiesSpaceMorning"></section>
            <section class="activitiesSpaceMorning"></section>
            <section class="activitiesSpaceMorning"></section>
            <section class="activitiesSpaceMorning"></section> --}}
        </section>


        {{!-- MIDDAY --}}
        <section class="middaySpace">
            <p class="headerSpace">&#128262; Midday</p>
            {{!-- <section class="activitiesSpaceMidday"></section>
            <section class="activitiesSpaceMidday"></section>
            <section class="activitiesSpaceMidday"></section>
            <section class="activitiesSpaceMidday"></section>
            <section class="activitiesSpaceMidday"></section>
            <section class="activitiesSpaceMidday"></section>
            <section class="activitiesSpaceMidday"></section> --}}
        </section>

        {{!-- EVENING --}}
        <section class="eveningSpace">
            <p class="headerSpace">&#127769; Evening</p>
            {{!-- <section class="activitiesSpaceEvening"></section>
            <section class="activitiesSpaceEvening"></section>
            <section class="activitiesSpaceEvening"></section>
            <section class="activitiesSpaceEvening"></section>
            <section class="activitiesSpaceEvening"></section>
            <section class="activitiesSpaceEvening"></section>
            <section class="activitiesSpaceEvening"></section> --}}
        </section>
    </section>
</a>

<script>
    const morningSpace = document.querySelector(".morningSpace")
    const middaySpace = document.querySelector(".middaySpace");
    const eveningSpace = document.querySelector(".eveningSpace");


    function createSpaceMorning() {
        const morningSpaceActivities = document.createElement('div');
        morningSpaceActivities.className = 'activitiesSpaceMorning'; -
            morningSpace.appendChild(morningSpaceActivities);
    }

    function createSpaceMidday() {
        const middaySpaceActivities = document.createElement('div');
        middaySpaceActivities.className = 'activitiesSpaceMidday';
        middaySpace.appendChild(middaySpaceActivities);
    }

    function createSpaceEvening() {
        const eveningSpaceActivities = document.createElement('div');
        eveningSpaceActivities.className = 'activitiesSpaceEvening';
        eveningSpace.appendChild(eveningSpaceActivities);
    }

    for (i = 0; i < 7; i++) {
        createSpaceMorning();
        createSpaceMidday();
        createSpaceEvening();
    }
</script>