{{!-- BACKGROUND--}}
<div class="parent">
    {{!-- HEADER --}}
    <div class="calenderHeader">
        <div class="calenderMiddle">
            <h2>Februari</h2>
            <h3>20 - 26</h3>
        </div>

        <div class="calenderLeft">
            <img class="leftArrow">
            <p class="dateShift">13-19</p>
        </div>

        <div class="calenderRight">
            <img class="rightArrow">
            <p class="dateShift">27 - 05</p>
        </div>
    </div>
    
    {{!-- MORNING --}}
    <div class="morningSpace"> 

        <p class="testP">Morning</p>

        <div class="activitiesSpaceMorning">
            <p class="testP">test</p>
        </div>

        <div class="activitiesSpaceMorning">
            <p class="testP">test</p>
        </div>

        <div class="activitiesSpaceMorning">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceMorning">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceMorning">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceMorning">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceMorning">
            <p class="testP">test</p>
        </div>
    </div>



    <div class="middaySpace">
        <p class="testP">Midday</p>

        <div class="activitiesSpaceMidday">
            <p class="testP">test</p>
        </div>

        <div class="activitiesSpaceMidday">
            <p class="testP">test</p>
        </div>

        <div class="activitiesSpaceMidday">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceMidday">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceMidday">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceMidday">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceMidday">
            <p class="testP">test</p>
        </div>
    </div>

    <div class="eveningSpace">
        <p class="testP">Evening</p>

        <div class="activitiesSpaceEvening">
            <p class="testP">test</p>
        </div>

        <div class="activitiesSpaceEvening">
            <p class="testP">test</p>
        </div>

        <div class="activitiesSpaceEvening">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceEvening">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceEvening">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceEvening">
            <p class="testP">test</p>
        </div>
        <div class="activitiesSpaceEvening">
            <p class="testP">test</p>
        </div>
    </div>
</div>