{{!-- BACKGROUND--}}
<sector class="parent">
    {{!-- HEADER --}}
    <sector class="calenderHeader">
        <sector class="calenderMiddle">
            <h2>Maandag</h2>
            <h3>20-02</h3>
        </sector>

        <sector class="calenderLeft">
            <img class="leftArrow">
            <p class="dateShift">Zondag</p>
        </sector>

        <sector class="calenderRight">
            <img class="rightArrow">
            <p class="dateShift">Dinsdag</p>
        </sector>
    </sector>

    {{!-- MORNING --}}
    <sector class="morningSpaceSetup">
        <form class="activitiesListBtns" action="/post-db" method="POST">
        <button class="headerSpaceSetup" name="timespaceBtn"  value="morning"> &#127749; Morning</button>
        </form>
        <form class="activatedListSetup" action="/deleteData" method="DELETE">
        {{#each activatedActivityMorning}}
            <button class="activatedListBtnSetup" name="activity" value="{{this}}"></button>
        {{/each}}
        </form>
        <button class="disableBtn"><img class="disableSpace"></button>
    </sector>


    {{!-- MIDDAY --}}
    <sector class="middaySpaceSetup">
         <form class="activitiesListBtns" action="/post-db" method="POST">
         <button class="headerSpaceSetup" name="timespaceBtn" value="midday">&#128262; Midday</button>
         </form>
        <form class="activatedListSetup" action="/deleteData" method="DELETE">
        {{#each activatedActivityMidday}}
            <button class="activatedListBtnSetup" name="activity" value="{{this}}"></button>
        {{/each}}
        </form>
        <button class="disableBtn"><img class="disableSpace"></button>

    </sector>

    {{!-- EVENING --}}
    <sector class="eveningSpaceSetup">
        <form class="activitiesListBtns" action="/post-db" method="POST">
        <button class="headerSpaceSetup" name="timespaceBtn" value="evening">&#127769; Evening</button>
        </form>
        <form class="activatedListSetup" action="/deleteData" method="DELETE">
        {{#each activatedActivityEvening}}
            <button class="activatedListBtnSetup" name="activity" value="{{this}}"></button>
        {{/each}}
        </form>
        <button class="disableBtn"><img class="disableSpace"></button>
    </sector>
</sector>