{{!-- BACKGROUND--}}
<sector class="parent">
    {{!-- HEADER --}}
    <sector class="calenderHeader">
        <sector class="calenderMiddle">
            <h2>Maandag</h2>
            <h3>20-02</h3>
        </sector>

        <sector class="calenderLeft">
            <img class="leftArrow">
            <p class="dateShift">Zondag</p>
        </sector>

        <sector class="calenderRight">
            <img class="rightArrow">
            <p class="dateShift">Dinsdag</p>
        </sector>
    </sector>

    {{!-- MORNING --}}
    <sector class="morningSpaceSetup">
        <button class="headerSpaceSetup"> &#127749; Morning</button>
        <form class="activatedListSetup" action="/unsetTime" method="POST">
        {{#each morningActivities}}
            <button class="activatedListBtnSetup" name="activity" value="{{this.name}}"></button>
        {{/each}}
        </form>
        <button class="disableBtn"><img class="disableSpace"></button>
    </sector>


    {{!-- MIDDAY --}}
    <sector class="middaySpaceSetup">
        {{#if hoursGreaterThan}}
            <p class="headerSpaceSetup" style="color: aquamarine;">&#128262; Midday</p>
        {{else}}
            <p class="headerSpaceSetup" style="color: blue;">&#128262; Midday</p>
        {{/if}}
        <form class="activatedListSetup" action="/unsetTime" method="POST">
        {{#each middayActivities}}
            <button class="activatedListBtnSetup" name="activity" value="{{this.name}}"></button>
        {{/each}}
        </form>
        <button class="disableBtn"><img class="disableSpace"></button>
    </sector>

    {{!-- EVENING --}}
    <sector class="eveningSpaceSetup">
        <button class="headerSpaceSetup">&#127769; Evening</button>
        <form class="activatedListSetup" action="/unsetTime" method="POST">
        {{#each eveningActivities}}
            <button class="activatedListBtnSetup" name="activity" value="{{this.name}}"></button>
        {{/each}}
        </form>
        <button class="disableBtn"><img class="disableSpace"></button>
    </sector>
</sector>