{{!-- BACKGROUND--}}
<div class="parent">
    {{!-- HEADER --}}
    <div class="calenderHeader">
        <div class="calenderMiddle">
            <h2>Februari</h2>
            <h3>20 - 26</h3>
        </div>

        <div class="calenderLeft">
            <img class="leftArrow">
            <p class="dateShift">13-19</p>
        </div>

        <div class="calenderRight">
            <img class="rightArrow">
            <p class="dateShift">27 - 05</p>
        </div>
    </div>
    
    {{!-- MORNING --}}
    <div class="morningSpace"> 

        <p class="headerSpace"> &#127749; Morning</p>
    </div>


    {{!-- MIDDAY --}}
    <div class="middaySpace">
        <p class="headerSpace">&#128262; Midday</p>
    </div>

    {{!-- EVENING --}}
    <div class="eveningSpace">
        <p class="headerSpace">&#127769; Evening</p>
    </div>
</div>