{{!-- BACKGROUND--}}
<sector class="parent">
    {{!-- HEADER --}}
    <sector class="calenderHeader">
        <sector class="calenderMiddle">
            <h2>Maandag</h2>
            <h3>20-02</h3>
        </sector>

        <sector class="calenderLeft">
            <img class="leftArrow">
            <p class="dateShift">Zondag</p>
        </sector>

        <sector class="calenderRight">
            <img class="rightArrow">
            <p class="dateShift">Dinsdag</p>
        </sector>
    </sector>
    
    {{!-- MORNING --}}
    <sector class="morningSpaceSetup"> 
        <button class="headerSpaceSetup" name="timespaceBtn" value="morning"> &#127749; Morning</button>
        <form class="activatedListSetup" action="/deleteData" method="DELETE"></form>
        <button class="disableBtn"><img class="disableSpace"></button>
    </sector>


    {{!-- MIDDAY --}}
    <sector class="middaySpaceSetup">
            <button class="headerSpaceSetup" name="timespaceBtn" value="midday">&#128262; Midday</button>
            <form class="activatedListSetup" action="/deleteData" method="DELETE"></form>
        <button class="disableBtn"><img class="disableSpace"></button>

    </sector>

    {{!-- EVENING --}}
    <sector class="eveningSpaceSetup">
        <button class="headerSpaceSetup" name="timespaceBtn" value="evening">&#127769; Evening</button>
        <form class="activatedListSetup" action="/deleteData" method="DELETE"></form>
        <button class="disableBtn"><img class="disableSpace"></button>
    </sector>
</sector>

<script>

    const activatedBtnList = document.querySelector(".activatedListSetup");

    function createActivatedBtn(){
        const activatedBtn = document.createElement('button');
        activatedBtn.className = 'activatedListBtnSetup';
        activatedBtn.type = 'submit';
        activatedBtn.name = 'deleteName';
        activatedBtn.value = '{{activatedActivity}}';

        activatedBtnList.appendChild(activatedBtn);
    }

     for(i = 0; i < {{activatedNmb}}; i++){
        createActivatedBtn();
    }
</script>