{{!-- Background & grid --}}
<section id="BGG">
    <div class="parent">
<div class="div1">
    <div>
    <h2>Februari</h2>
    <h3>20 - 26</h3>
    </div>
    <p>
    <img src="../../public/css/assets/arrow_left.png">
    13-19
    </p>
    <p>
    <img src="../../public/css/assets/arrow_right.png">
    27 - 05
    </p>
</div>
<div class="div2"> hhh</div>
<div class="div3"> kkk</div>
<div class="div4">lll </div>
</div>
</section>