<section>
    {{!-- Img --}}
    <section class="profileImg">
        {{!-- Edit --}}
        <div class="editButton">
            <p>Edit</p>
        </div>
    </section>
    <section class="profileInfo">
        <h2>Zelensky</h2>
        <p>Leeftijd: 45</p>
    </section>
</section>