:root {
    --font-body: Inter, sans-serif;
    --background-color: #ffffd3;
    --button-color: #3E363F;
    --white: #ffffff;
    --black: #000;
}

body {
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    margin-left: 0;
    margin-right: 0;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a{
    all: unset;
}

/* Profile info*/

/* Img */
.profileImg {
    padding-top: .5em;
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    width: 12.5em;
    height: 12.5em;
    border: 1px solid var(--black);
    border-radius: 50%;
    background-image: url(/assets/zelensky.jpeg);
}

/* Edit button */
.editButton {
    height: 3.75em;
    width: 3.75em;
    display: flex;
    border: 1px solid var(--black);
    background-color: var(--white) !important;
    border-radius: 50%;
    margin-left: auto;
    align-items: center;
    font-family: 'Inter';
}

/* Edit text */
.editButton>p {
    margin: auto;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileInfo>h2 {
    margin: 0;
    font-size: xx-large;
    font-weight: normal;
}

.profileInfo>p {
    margin-top: 0;
    font-size: small;

}



/* General Calender*/
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;

    width: 19.125em;
    height: 19.125em;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-radius: 15%;

    filter: drop-shadow(0 3px 3px var(--black));
}

h2,
h3,
p {
    display: inherit;
    font-family: var(--font-body)
}

.testImage {
    content: url(../assets/zelensky.jpeg);
    height: 1em;
    width: 1em;
    margin: 0 0 0.2em 0.1em;
}

/* Calender header */

.calenderHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 4;
    border-bottom: 2px solid var(--black);
    align-items: center;
}



/* Calender header - Middle */

.calenderMiddle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    order: 1;
}

.calenderMiddle>h2 {
    font-size: 1.25em;
    font-weight: 1;
    margin-bottom: 0;
}

.calenderMiddle>h3 {
    font-size: 0.6em;
    font-weight: 1;
    margin-top: 0;
}



/* Calender header - Left & Right*/

.calenderLeft,
.calenderRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.4em;
    order: 0;
}

.calenderRight {
    order: 2;
}

.leftArrow {
    content: url(../assets/arrow_left.png);
    height: 1em;
    width: 1em;
}

.rightArrow {
    content: url(../assets/arrow_right.png);
    height: 1em;
    width: 1em;
    order: 1;
}

.dateShift {
    font-size: 0.8em;
    margin: 0.2em;
}



/* Morning space */

.morningSpace {
    grid-area: 2 / 1 / 6 / 2;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;

    border-right: 2px solid var(--black);
}

.activitiesSpaceMorning {
    width: 75%;
    height: 1.375em;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-right: transparent;
}

.headerSpace {
    font-size: 0.8em;
    margin: 0;
    align-self: center;
}

.headerSpace>span {
    display: block;
}

.activitiesSpaceEnd {
    width: 5.125em;
    height: 1.375em;
    border: 1px solid var(--black);
    background-color: var(--white);

}

/* Midday space */

.middaySpace {
    grid-area: 2 / 2 / 6 / 3;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.activitiesSpaceMidday {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: end;

    width: 100%;
    height: 1.375em;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-right: transparent;
    border-left: transparent;
}



/* Evening space */

.eveningSpace {
    grid-area: 2 / 3 / 6 / 4;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    border-left: 2px solid var(--black);
}

.activitiesSpaceEvening {
    width: 75%;
    height: 1.375em;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-left: transparent;
}


/* Calender setup */

.headerSpaceSetup {
    font-size: 0.8em;
    margin: 0;
    font-family: var(--font-body);
}

/* Morning space Setup*/

.morningSpaceSetup {
    grid-area: 2 / 1 / 6 / 2;

    display: flex;
    flex-direction: column;


    border-right: 2px solid var(--black);
}

.activitiesSpaceMorningSetup {
    width: 75%;
    height: 1.375em;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-right: transparent;
}

.headerSpaceSetup {
    font-size: 0.8em;
    margin: 0;
    align-self: center;
}

.activatedListSetup{
    display: flex;
    flex-direction: row;
    justify-content:start;
    margin: 0.2em;
    gap: 0.5em;
    overflow-x: auto;
    flex-wrap: wrap;
}

.activatedListBtnSetup{
    background-image: url(/assets/zelensky.jpeg);
    width: 1em;
    height: 1em;
}

.headerSpacSetupe>span {
    display: block;
}

/* Midday space */

.middaySpaceSetup {
    grid-area: 2 / 2 / 6 / 3;

    display: flex;
    flex-direction: column;
}

.activitiesSpaceMiddaySetup {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    width: 100%;
    height: 1.375em;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-right: transparent;
    border-left: transparent;
}



/* Evening space Setup*/

.eveningSpaceSetup {
    grid-area: 2 / 3 / 6 / 4;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

    border-left: 2px solid var(--black);
}

.activitiesSpaceEveningSetup {
    width: 75%;
    height: 1.375em;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-left: transparent;
}

.disableSpace {
    content: url(../assets/red-cross.png);
    width: 2em;
    height: 2em;
}

.disableBtn {
    margin-top: auto;
}


/* Activities list */

.activitiesList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activitiesList>input[type=text] {
    padding: 0.5em 0.5em;
    border-radius: 2em;
    box-sizing: border-box;
    font-family: var(--font-body);
    color: var(--black);
    background-color: var(--white);
    width: 90%;
    align-self: center;
    margin-bottom: 1em;
}

.headerList {
    font-family: var(--font-body);
    color: var(--black);
    border-bottom: 2px solid var(--black);
    margin-bottom: 0.4em;
}

.activitiesListBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.acitvitySetupBtn {
    border: 1px solid var(--black);
    background-color: var(--white);
    display: inline-block;
    padding: 0.1em 0.5em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    font-family: var(--font-body);
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    filter: drop-shadow(0 1px 3px var(--black));
    width: 30%;
}

.doneFooter{
    display: flex;
    justify-content: center;
    width: 100%;
}

.doneBtn{
    border: 1px solid var(--black);
    background-color: var(--white);
    display: inline-block;
    padding: 0.6em 0.5em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-size:larger;
    color: var(--white);
    background-color: var(--button-color);
    text-align: center;
    filter: drop-shadow(0 1px 3px var(--black));
    width: 70%;
    position: fixed;
    bottom: 0;
}


/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #3E363F;
}

.profileFooter {
    content: url(../assets/user-solid-selected.png);
    width: 2em;
    height: 2em;
}

.homeFooter {
    content: url(../assets/house-solid-unselected.png);
    width: 2em;
    height: 2em;
}

.chatFooter {
    content: url(../assets/comments-solid-unselected.png);
    width: 2em;
    height: 2em;
}

.selected {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
    background-color: var(--white);
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
}